:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --dark-color: #2c3e50;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  position: relative;
}

.nav-container {
  width: 100vw;
  margin: auto;
  overflow: hidden;
  padding: 1rem;
}
.container {
  margin: auto;
  padding: 2rem;
}

nav li form button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  padding-bottom: 2rem;
}
header {
  background: var(--primary-color);
  color: white;
  font-weight: 600;
  border-bottom: 3px solid var(--secondary-color);
  width: 100vw;
  margin: 0;
}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}
header ul {
  /* padding: 10px 0; */
  display: flex;
  justify-content: center;
}
header ul li {
  display: inline;
  padding: 0 1rem;
}

footer {
  background: var(--dark-color);
  color: white;
  text-align: center;
  padding: 20px;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 4rem;
}

.flash-messages {
  color: black;
  width: 100%;
  max-height: 2.5rem;
  overflow: hidden;
  text-align: center;
  margin: auto;
}
.danger {
  background-color: rgb(255, 119, 119);
  padding-block: 0.5rem;
}
.info {
  background-color: rgb(223, 152, 0);
  padding-block: 0.5rem;
}
.success {
  background-color: rgb(144, 238, 144);
  padding-block: 0.5rem;
}
.warning {
  background-color: rgb(255, 165, 0);
  padding-block: 0.5rem;
}

.user {
  position: absolute;
  right: 5%;
}
