{% extends 'base.html'%} {% block title %} Login | Secure Access {% endblock %}
{% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock %}

{% block content %}
<main>

  <div class="login-container">
    <h2>Login to Your Account</h2>
    <form
      method="post"
      action="{{url_for('login')}}"
      novalidate
    >
      {{ form.csrf_token }}
      <div class="input-group">
        {{form.email}} {{form.email.label}} {% for err in form.email.errors %}
        <span style="color: red">{{err}}</span>
        {% endfor %}
      </div>

      <div class="input-group">
        {{ form.password }} {{ form.password.label }} {% for err in
        form.password.errors %}
        <span style="color: red">{{err}}</span>
        {% endfor %}
      </div>

      <span style="color: red">{{ get_flashed_messages()[0] }}</span>

      <div class="submit-btn">{{ form.submit}}</div>
    </form>
    <div class="social-login">
      <a href="#"><i class="fab fa-google"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
    <div class="signup-link">
      Don't have an account? <a href="/signup">Sign Up</a>
    </div>
  </div>
</main>
{% endblock %}
